.DS_Store
.idea/
Thumbs.db

# Site (Laravel)
site/*.log
site/.env
site/.env.backup
site/.env.production
site/.phpactor.json
site/.phpunit.result.cache
site/.fleet
site/.nova
site/.phpunit.cache
site/.vscode
site/.zed
site/auth.json
site/node_modules
site/public/build
site/public/hot
site/public/storage
site/storage/*.key
site/storage/pail
site/vendor
site/Homestead.json
site/Homestead.yaml
site/.php-cs-fixer.cache
